body {
  background-color: #131315;
  color: white;
}

.nav-bar {
  background-color: #131315;
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
  width: 80px;
  border-right-width: 1px;
}

.nav-icon {
  cursor: pointer;
  border-right-width: 4px;
  border-color: transparent;
  color: gray;
}

.nav-icon:hover {
  border-color: white;
  color: white;
}

.nav-icon-active > .nav-icon {
  border-color: white;
  color: white;
}

.game-info-table > li:not(:first-child) {
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-top-color: rgb(38 38 38 / var(--tw-border-opacity));
}

.game-info-table > li {
  padding: 0.5rem;
}

/* Slick Slider configs */
.slick-prev {
  z-index: 100;
  left: 40px;
}
.slick-next {
  z-index: 100;
  right: 40px;
}

.slick-list {
  margin: 0 -0.15rem;
}
.slick-slide > div {
  padding: 0 0.15rem;
}
