body {
  background-color: #131315;
  color: white;
}

.nav-bar {
  background-color: #131315;
  gap: 2rem;
  padding: 2rem 0;
  align-items: center;
}

.nav-icon {
  cursor: pointer;
  border-color: transparent;
  color: gray;
}

.nav-icon:hover {
  border-color: white;
  color: white;
}

.nav-icon-active > .nav-icon {
  border-color: white;
  color: white;
}

.game-info-table > li:not(:first-child) {
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-top-color: rgb(38 38 38 / var(--tw-border-opacity));
}

.game-info-table > li {
  padding: 0.5rem;
}

.home-background {
  background-position: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0 0 0 / 25%) 30%, #131315 100%), var(--overlay-image);
  width: 100%;
  background-size: cover;
}

/* Slick Slider configs */
.slick-prev {
  z-index: 20;
  left: 40px;
}
.slick-next {
  z-index: 20;
  right: 40px;
}

.slick-track {
  margin-left: 0;
}

.slick-list {
  margin: 0 -0.15rem;
}
.slick-slide > div {
  padding: 0 0.15rem;
}
